img {
  max-width: 100%;
}

#preview {
  margin: 0 auto;
}

html{
-webkit-font-smoothing: antialiased;
letter-spacing: .375px;
}





/*==================================
=            nav styles            =
==================================*/
nav ul{
  li,a{
    &:hover{
      text-decoration: line-through;
      background-color: transparent;
    }
  }
}

nav{
  @extend .z-depth-1;
}


/*=====  End of nav styles  ======*/


/*====================================
=            main-content            =
====================================*/
.main-content{
  padding: 10% 0;
}

.post-details {

  h1{
    text-transform: capitalize;
    font-size: 1.6em;
    margin-bottom: 1em;

  }

  .chip{
    font-weight: 300;
    margin-bottom: 2em;
  }

  .location,
  .price{
    @extend .grey-text, .text-lighten-2;
    font-size: .8em;
  }

  .location{
     // font-size: .8em;
  }

    .body{
      margin-top: 3em;
      @extend .grey-text;
    }
}
@media #{$large-and-up} {
    // styles for large screens and up
  .post-details{
    padding-left: 2em;
  }
}


/*=====  End of main-content  ======*/

/*=================================
=            post-home            =
=================================*/

.col--home{
  margin-top: 1.3125em;
}

.post-container--home{

  overflow: hidden;
  position: relative;
    .overlay{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.77), rgba(45, 45, 45, 0.04));
    position: absolute;
    z-index: 10;
  }
}

.post--home{
  height: 25em;
  position: relative;
  background-size: cover;
  overflow: hidden;


  .post-title{

    color: #fff;
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    line-height: 0.9em;
    padding-bottom: 0.5em;
    padding-left: 0.3em;
    text-transform: capit;
    position: absolute;
    bottom: 0;
    z-index: 20;
    text-transform: lowercase;
  }
}



/*=====  End of post-home  ======*/

