img {
  max-width: 100%;
}

#preview {
  margin: 0 auto;
}

html{
-webkit-font-smoothing: antialiased;
letter-spacing: .375px;
}





/*==================================
=            nav styles            =
==================================*/
nav ul{
  li,a{
    &:hover{
      text-decoration: line-through;
      background-color: transparent;
    }
  }
}

nav{
  @extend .z-depth-1;
  padding: 0 2%;
}




/*=====  End of nav styles  ======*/


/*====================================
=            main-content            =
====================================*/
.main-content{
  padding: 10% 0;
}
.single-post{

  .chip{

    margin-bottom: 2em;
  }
}
.post-details {

  h1{
    text-transform: lowercase;
    font-size: 5em;
    font-weight: bold;

  }


  .location,
  .price{
    @extend .grey-text, .text-lighten-2;
    font-size: .9em;
  }

  .location{
     // font-size: .8em;
  }

    .body{
      margin-top: 3em;
      font-size: 1.2em;
    }
}
@media #{$large-and-up} {
    // styles for large screens and up
  .post-details{
    padding-left: 2em;
  }
}


/*=====  End of main-content  ======*/

/*=================================
=            post-home            =
=================================*/

.col--home{
  margin-top: 1.3125em;
}

.post-container--home, #admin{

  overflow: hidden;
  position: relative;
    .overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.77), rgba(45, 45, 45, 0.04));
    position: absolute;
    z-index: 10;
  }
}

@keyframes fadeIn {
  from { opacity:0;} to { opacity:1; }
}

@keyframes fadeInSlide {
  from { opacity:0;transform: translateX(.5em);} to { opacity:1; transform: translateX(0em); }
}

.post--home{
  height: 25em;
  position: relative;
  background-size: cover;
  overflow: hidden;


  .post-title{

    color: #fff;
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    line-height: 0.9em;
    padding-bottom: 0.5em;
    padding-left: 0.3em;
    text-transform: capitalize;
    position: absolute;
    bottom: 0;
    z-index: 20;
    opacity: 0;
    transform: translateX(.7em);
    text-transform: lowercase;
    animation:fadeInSlide ease-out 1;
      animation-fill-mode:forwards;
       animation-duration:.7s;
  }

  .chip{
    position: relative;
    z-index: 20;
    top: 1em;
    left: 1em;
  }
}






/*=====  End of post-home  ======*/

/*====================================
=            admin styles            =
====================================*/

.post-actions{
  margin-top: 1em;
  .delete{
    @extend .grey, .darken-3;
  }
  .edit{
    background-color: #fff;
    color:#424242;
  }
}

#admin{
  .profile-img{
    margin: 0 auto;
    width: 12em;
    height:12em;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: center;
    z-index: 20;
    border: 3px solid white;
    background-repeat: no-repeat;
    background-position: center;
    &:hover i{
      opacity:1;
    }





    i{
      font-size: 3em;
      color: #fff;
      opacity:0;
      transition: all .3s ease;
      cursor: pointer;
    }

    a{
      align-self:center;
    }
  }

  .new-post-link{
    font-size: 1.4em;
    color: #242424;
    letter-spacing: .1em;
    &:hover{
      text-decoration: line-through;
    }
  }

  .banner{
    height: 30em;
    background-color: #fff;
    background-image: url('../../uploads/banner.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .username{
      color: white;
      z-index: 20;
      position: relative;
      font-size: 2.6em;
      letter-spacing: .1em;
    }
  }
}

.admin-main{
  padding-top: 5em;
}

 .post-container{
      margin-top: 3em;
    }


/*=====  End of admin styles  ======*/


